.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.input {
  width: 80%;
  font-size: 5rem;
  border-radius: 5px;
  border-color: transparent;
}
